

#wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

#wrapper > * {
    flex: 1 100%;
    padding: 10px 0;
    
}

.navigation {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    padding-left: 0;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #333;
  }
  
  .navigation a:hover {
    background: #00b7f5;
  }

@media all and (min-width: 600px) {
    .sidebar { flex: 1 auto !important; }
    body {padding: 0.5em;}
    nav { text-align: center; }
    
}

@media all and (min-width: 800px) {
    .main { flex: 3 0px !important; }
    .sidebar-left { order: 1;}
    .main { order: 2; }
    .sidebar-right { order: 3;}
    footer { order: 4; }
}

footer { 
    position: fixed;
    bottom: 0;
    background: black;
    color: white;
    width: 100%;
    left: 0;
}

body {
    background: lightblue;
    padding: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

